/*
*{
    margin:0;
    padding:0; 
}
*/

body {
    background-color: #f4f4f4;
    color: #555555;

    font-family: Verdana, Geneva, Tahoma, 
    sans-serif;
    font-size: 16px;
    font-weight: normal;

    line-height: 1.6em;
    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: green;
}

.container {
    
}

.box-1 {

    border: 5px solid gold;

margin: 20px;
padding: 20px;
}

.box-2 {

    border: 5px solid gold;

margin-top: 10px;
margin-bottom: 10px;
margin-left: 20px;
margin-right: 20px;

padding-top: 40px;
padding-bottom: 40px;
padding-left: 10px;
padding-right: 10px;

padding: 40px 10px 40px 10px;

width: 80%;
margin: auto;
}

.box-3 {
  
    border: 5px solid gold;

margin: 20px;    
padding: 20px;
}

.box-1 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    text-align: center;

}

.box-2 h1 {
    text-align: center;
    text-decoration: underline;
}

.categories {
    border: 2px #ccc solid;
    padding: 15px;
    border-radius: 20px;
}

.categories h2 {
    text-align: center;
}

.categories ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: lightslategray;
    overflow: hidden;
}

.categories li {
    float: left;
    width: 25%;
}
 
.categories li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 66px;
    text-decoration: none;

}
